<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'chat_news/base.html' %}

    {% block content %}    
    <div class="bottom--divider"></div>
    <div class="container", style="max-width: 80%" >            
        <a class="btn btn-dark btn-lg mb-2" role="button" href="{% url 'news' %}">All</a>    
        {% for tag in tags%} 
            <a class="btn btn-dark btn-sm mb-2" role="button" href="{% url 'news' %}?curr_tag={{tag}}">{{tag}}</a>                        
        {% endfor%}            
        
    </div>
    <div class='container' style='max-width: 80%'>
            {% for post in posts %}
            
                <div class='card rounded-1' style='width: auto; padding: 1em'>
                    <div class="mb-2 photo--background">
                        <h4>{{post.post_time}}</h4>
                        <p class="text-muted">{{post.tag}}</p>
                    </div>
                    <p class="card-text">
                        {{post.content}}
                    </p>
                    <div class="row justify-content-md-center">
                        {% for img in imgs %}
                            {% if img.post.id == post.id %}
                                <div class='colcol-md-4 mb-2' style='max-width: 50%; padding: 1em'>
                                    <div class='img-text-container card-img-wrap'>
                                        <img class='card-img-top rounded-0' src="{{ img.image.url }}" alt="Photo">
                                    </div>
                                    <script>console.log('{{ img.image.url }}')</script>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
    </div>
{% endblock %}